.pageWrapper.account {
  padding-bottom: 300px;
}

.unitThumbnail {
  height: 120px;
  transform: scale(-1, 1);
}

.account > p {
  display: inline-block;
  margin: 15px;
}

.account button:not(.unitPreview) {
  padding: 5px 10px;
  border: solid 3px white;
  color: white;
  background: transparent;
  font-size: 16px;
  margin: 0 10px;
}
.account button:hover:not(.unitPreview) {
  background: white;
  color: #333;
}

.account .unitPreview, .modal .unitPreview {
  background-color: transparent;
  transition: background-color 0.2s ease;
  color: white;
  border: none;
  display: inline-block;
  height: 160px;
  width: 160px;
  text-align: center;
  position: relative;
}

.account .unitPreview:hover {
  background-color: rgba(255, 255, 255, 0.089);
}

.account .unitPreview:hover::after {
  content: 'Add';
  position: absolute;
  color: rgba(255, 255, 255, 0.5);
  font-size: 26px;
  left: 56px;
  top: 65px;
}

.noHover .unitPreview:hover::after {
  content: unset;
}
.noHover .unitPreview:hover {
  background-color: transparent;
}
.noHover .unitPreview:hover {
  background-color: transparent;
}

.lineup .unitPreview:hover::after {
  content: 'Remove';
  left: 34px;
}

.selling .unitPreview:hover::after {
  color: #ffcc15a4;
  content: 'Sell';
  left: 56px;
}

.unitPreview p {
  margin: 0 0 5px 0;
}

.tierGlow {
  box-shadow: 0 0 50px 10px white;
  width: 0px;
  /* display: inline-block; */
  position: absolute;
  left: 80px;
  top: 80px;
  z-index: -1;
}

.tier-1 {
  box-shadow: 0 0 50px 15px blue;
}

.tier-2 {
  box-shadow: 0 0 50px 30px purple;
}

.tier-3 {
  box-shadow: 0 0 50px 40px gold;
}

.lineup {
  height: 250px;
  width: 100%;
  padding: 20px;
  border-top: solid 3px #999;
  background: #262626;
  margin-left: -10px;
  position: fixed;
  bottom: 0;
}

.icon {
  height: 28px;
  transform: scale(1.5);
  vertical-align: middle;
  margin: 0 8px 4px 0;
}

.coin {
  color: #ebbf1c;
  text-shadow: 1px 0 2px black, -1px 0 2px black, 1px 0 2px black, -1px 0 2px black;
  font-size: 16px;
}

.selling .value {
  position: absolute;
  display: inline-block;
  bottom: 10px;
  left: 50px;
}

.value {
  display: none;
}

.particle {
  position: fixed;
  opacity: 1;
  transition: left 0.5s ease, top 0.9s ease-out, opacity 0.2s ease-out;
}

.particle.coin {
  width: 10px;
  height: 10px;
  background-color: #ebbf1c;
  border-radius: 100%;
  box-shadow: 0 1px 3px 1px black;
}