.header {
    box-shadow: 0 0 5px #111;
    padding: 10px;
}

.header h1 {
    margin: 0;
    padding: 0 40px 0 20px;
    display: inline-block;
}

.header .navLink {
    background: none;
    border: none;
    padding: 10px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

.right {
    float: right;
}

.header .navLink.selected {
    text-decoration: underline;
}

.pageWrapper {
    padding: 0 10px 10px;
    overflow: hidden;

}