.header {
    box-shadow: 0 0 5px #111;
    padding: 10px;
}

.header h1 {
    margin: 0;
    padding: 0 40px 0 20px;
    display: inline-block;
}

.header .navLink {
    background: none;
    border: none;
    padding: 10px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

.right {
    float: right;
}

.header .navLink.selected {
    text-decoration: underline;
}

.pageWrapper {
    padding: 0 10px 10px;
    overflow: hidden;
}

.modal {
    position: fixed;
    width: 500px;
    padding: 20px;
    border-radius: 10px;
    min-height: 200px;
    background: #333;
    box-shadow: 0 0 5px black;
    z-index: 10;
    margin-left: calc(50vw - 250px);
}
.modal .closeButton {
    border: none;
    background-color: transparent;
    font-size: 20px;
    color: white;
    font-weight: bolder;
    position: absolute;
    right: 10px;
    top: 10px;
}

.blocker {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.37);
    z-index: 8;
    border: none;
}